@import 'styles/unit.scss';

.dexpo {
  padding: rem(90) 0 rem(110);
  display: flex;
  flex-direction: column;
  align-items: center;
  .desc {
    margin: rem(10) 0 rem(125);
  }
  .starImg {
    width: rem(76);
    height: rem(76);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .title {
    margin: rem(8) 0 rem(111);
  }
  .list {
    gap: rem(25);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 100%;
    .item {
      padding: rem(93) rem(16) rem(19);
      position: relative;
      background: #f3f5ff;
      border-radius: rem(10);
      .subTitle {
        margin: rem(24) 0 rem(7);
      }
      .img {
        position: absolute;
        top: rem(-50%);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .dexpo {
    padding: rem(80) 0 rem(65);
    .desc {
      margin: rem(14) 0 rem(130);
      br {
        display: none;
      }
    }
    .starImg {
      width: rem(55);
      height: rem(55);
    }
    .title {
      margin: rem(12) 0 rem(83);
    }
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: rem(92);
      .item {
        width: rem(231);
      }
    }
  }
}
