.modal {
  overflow: hidden !important;
  @media (max-width: 600px) {
    overflow-x: hidden;
    overflow: hidden !important;
    width: 355px !important;
  }
}

.container {
  width: 600px;
  max-height: 100%;
  @media (max-width: 600px) {
    width: 355px !important;
  }
  .header {
    position: relative;
    height: max-content;
    background: #010920;
    padding: 13px 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
      height: max-content;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      svg {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }

      @media (max-width: 375px) {
        padding-right: 10px;
      }
    }
    .betContainer {
      padding-left: 20px;
      .betService {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        color: #ffffff;
        text-decoration: underline;
        cursor: pointer;

        @media (max-width: 600px) {
          font-size: 23px;
          font-weight: 700;
          line-height: 30px;
          text-align: left;
        }
      }
    }
    .laptop {
      width: max-content;
      margin-left: -30px;
      margin-bottom: -30px;
      object-fit: contain;
      overflow-x: hidden;
      overflow-y: hidden;
      @media (min-width: 391px) and (max-width: 600px) {
        width: 340px !important;
        margin-left: -10px;
        margin-bottom: 0px;
        padding: 0 !important;
        margin-bottom: -10px;
      }

      @media (max-width: 375px) {
        width: 340px !important;
        margin-left: -20px;
        margin-bottom: 0px;
        padding: 0 !important;
        margin-bottom: -10px;
      }

      @media (min-width: 376px) and (max-width: 390px) {
        width: 340px !important;
        margin-left: -13px;
        margin-bottom: 0px;
        padding: 0 !important;
        margin-bottom: -10px;
      }
    }
  }
}
