.Card {
  align-items: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px #1d428a;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  justify-content: space-evenly;
  margin: 30px;
  opacity: 0.9;
  padding: 20px;
  text-align: center;

  & .Title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  & .Description {
    font-size: 20px;
    font-weight: 400;
    max-width: 85%;
  }
  & .Image {
    height: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 80%;

    @media only screen and (max-width: 800px) {
      width: 70%;
    }
  }
}
