.Card {
  background: #fff;
  border-radius: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px #1d428a;
  margin: 40px;
  opacity: 0.7;
  padding: 20px;
  text-align: center;
  width: 100%;

  & .Title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  & .Image {
    height: 50%;
    margin: 20px 0;
    width: 70%;
  }
  & .Description {
    font-size: 20px;
    // text-align: left;
  }
}
