@import 'styles/unit.scss';
.box {
  overflow: hidden;
  .container {
    position: relative;
    .banner {
      padding: rem(100) 0 rem(113);
      position: relative;
      overflow: hidden;

      @media (max-width: 600px) {
        padding: rem(50) 0;
      }
      .content {
        position: relative;
        z-index: 9;
        min-height: rem(413);

        .containerAccumulation {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 190px;
          gap: 96px;
          .column {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            width: 221px;

            .title {
              font-style: normal;
              font-weight: 700;
              font-size: 55px;
              line-height: 70px;
              color: #272727;
              margin: 0;
            }

            .paragraph {
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #232323;
            }
          }

          .flexRow {
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;

            .column {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .text {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                color: #0012b0;
              }

              .coinWrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 282.16px;
                height: 60px;
                background: #ffffff;
                border: 1px solid #ededed;
                box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 9px 15px;
              }

              .number {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
              }
            }
          }
        }
        // lf;ds;alf

        .icon {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-left: 40px;

          img {
            @media (max-width: 600px) {
              width: 134.17px !important;
              height: 169.19px !important;
            }
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 27px;
          margin-bottom: 43px;

          @media (max-width: 600px) {
            margin-bottom: 20px;
            gap: 10px;
          }

          h2 {
            font-weight: 700;
            font-size: 55px;
            line-height: 70px;
            text-align: center;
            color: #232323;
            margin: 0;
            padding: 0;

            @media (max-width: 600px) {
              font-size: 28px;
              line-height: 35px;
              white-space: normal;
              text-align: center;
              padding: 10px;
            }
          }

          p {
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            max-width: 1153px;
            text-align: center;
            color: #484848;
            margin: 0;
            padding: 0;

            @media (max-width: 600px) {
              font-weight: 500;
              font-size: 15px;
              line-height: 25px;
              max-width: 328px;
              margin: auto;
            }
          }
        }

        .navigationLinks {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 19.61px;
          gap: 13px;

          img {
            margin-left: 14px;
          }

          .navLink {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            text-align: right;
            color: #0012b0;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
