.Container {
  display: flex;
  margin-bottom: 50px;
  padding: 50px;
  width: 100%;

  &.isIconLeft {
    color: #fff;
    flex-direction: row-reverse;
    @media only screen and (max-width: 800px) {
      align-items: center;
      flex-direction: column;
    }
  }

  & .Left {
    margin-right: 50px;
    padding-bottom: 30px;
    width: 75%;
    & .Title {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 20px;
    }

    & .Description {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  & .Right {
    align-self: flex-end;
    object-fit: cover;
    text-align: center;
  }
  & .Icon {
    width: 70%;
  }

  @media only screen and (max-width: 800px) {
    align-items: center;
    flex-direction: column;
  }
}
