.Container {
  display: flex;
  margin-bottom: 50px;
  padding: 0 270px;

  &.isIconLeft {
    color: #fff;
    flex-direction: row-reverse;
  }

  & .Left {
    padding: 30px 0;
    width: 80%;

    & .Title {
      font-size: 30px;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    & .Description {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      max-width: 850px;
    }
  }
  & .Right {
    align-self: flex-end;
    object-fit: cover;
    text-align: center;
    width: 20%;
    & .Icon {
      width: 90%;
    }
  }

  @media only screen and (max-width: 800px) {
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    & .Left,
    .Right {
      width: inherit;
    }

    &.isIconLeft {
      align-items: center;
      color: var(--conun-blue);
      flex-direction: column;
    }
  }
}
