.Container {
  align-items: center;
  display: flex;
  margin-bottom: 150px;
  padding: 0 var(--website-padding);

  & .Right {
    object-fit: cover;
    text-align: center;
    width: 20%;
  }

  & .Left {
    padding: 30px 0;
    width: 80%;

    & .Title {
      font-size: 30px;
      font-weight: 500;
      line-height: 29px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    & .Description {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      max-width: 850px;
    }
  }

  &.isIconLeft {
    flex-direction: row-reverse;

    & .Right {
      margin-right: 50px;
    }

    &.isWhiteColor {
      & .Title {
        color: #fff;
        text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
      }

      & .Description {
        color: #fff;
        text-shadow: 0 2px 4px rgb(0 0 0 / 25%);
      }
    }
  }

  @media only screen and (max-width: 800px) {
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    & .Left,
    .Right {
      width: inherit;

      & .Icon {
        width: 80%;
      }
    }

    &.isIconLeft {
      align-items: center;
      color: var(--conun-blue);
      flex-direction: column;

      &.isWhiteColor {
        & .Title {
          color: var(--conun-blue);
          text-shadow: none;
        }

        & .Description {
          color: var(--conun-blue);
          text-shadow: none;
        }
      }

      & .Right {
        margin-right: 0;
      }
    }
  }
}
