@import 'styles/unit.scss';

.footer {
  padding: rem(100) 0 rem(62);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftElement {
    display: flex;
    flex-direction: column;
    p {
      font-weight: 300;
      font-size: rem(12);
      line-height: rem(22);
      // &:last-child {
      //   margin-left: rem(208);
      // }
      color: #232323;
    }
  }
  .rightElement {
    display: flex;
    // align-items: center;
    column-gap: rem(12);
    a {
      display: flex;
      flex-direction: column;
      p {
        text-align: center;
        font-size: 10px;
        font-weight: 300;
        line-height: 22px;
      }
      img {
        width: 47px;
        height: 47px;
        object-fit: contain;
      }
      .item {
        min-height: rem(47);
        min-width: rem(47);
        border-radius: rem(7);
        background: #f6f6fb;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          max-width: rem(25) !important;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    padding: rem(65) 0 rem(50);
    .rightElement {
      width: rem(250);
      flex-wrap: wrap;
      row-gap: rem(12);
      justify-content: center;
    }
    .leftElement {
      display: block;
      margin-top: rem(32);
      p {
        text-align: center;
        font-size: rem(12);
        line-height: rem(18);
        &:last-child {
          margin-left: 0;
          font-weight: 600;
          margin-top: rem(8);
        }
      }
    }
  }
}
