@import 'styles/unit.scss';
.container {
  .box {
    margin: 50px 0 200px;
    .items {
      display: grid;
      gap: rem(20);
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: rem(40);
      .item {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0;
    .box {
      margin: 50px 0 50px;
      .items {
        margin-top: 40px;
        display: flex;
        align-items: center;
        overflow: auto;
        padding: 0 22px;
        .item {
          min-width: 165px;
          height: 80px;
        }
      }
    }
  }
}
