@import 'styles/unit.scss';
.modal {
  width: rem(476);
  display: flex;
  flex-direction: column;
  padding: rem(28) rem(24) rem(78);
  align-items: center;
  position: relative;
  .close {
    position: absolute;
    top: rem(10);
    right: rem(15);
    cursor: pointer;
  }
  .title {
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(30);
    color: #232323;
    margin-bottom: rem(20);
  }
  .checkbox {
    font-size: rem(12);
    line-height: rem(18);
    color: #868686;
    display: flex;
    align-items: flex-start;
    column-gap: rem(10);
    margin-top: rem(34);
  }
  .img {
    height: rem(101);
    object-fit: contain;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .input {
    background: #f0f0f0;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: rem(15) rem(20);
    width: 100%;
    margin-top: rem(25);
    &:focus {
      outline: none;
    }
  }
  .desc {
    font-size: rem(15);
    line-height: rem(25);
    color: #252525;
    margin-top: rem(15);
    text-align: center;
  }
  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 rem(10) rem(10);
    transform: none;
  }
}
