@import 'styles/unit.scss';
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: rem(203);
    height: rem(181);
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .desc {
    width: 90%;
    margin: rem(10) 0 rem(90);
  }
}
