@import 'styles/unit.scss';
.box {
  overflow: hidden;
  .container {
    position: relative;
    .banner {
      padding: rem(141) 0 rem(113);
      position: relative;
      overflow: hidden;
      .content {
        width: rem(700);
        position: relative;
        z-index: 9;
        min-height: rem(413);
        .title {
          margin-bottom: rem(25);
          &:after {
            content: attr(data-text);
            color: #e61e66;
            transform: translateX(-100%);
            position: absolute;
          }
        }
        .btn {
          margin-top: rem(25);
          background: #e61e66 !important;
        }
      }

      .bannerBg {
        background-image: url('/images/products/dexpo-nft/banner-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        position: absolute;
        right: 0;
        height: rem(800);
        top: rem(-150);
      }
    }

    .elements {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: rem(80);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .element {
        width: rem(181);
        height: rem(181);
        position: absolute;
        top: rem(80);
        right: rem(40);
        transition: all 0.8s ease-in-out;
      }
      .element3 {
        position: absolute;
        width: rem(100);
        height: rem(100);
        top: rem(330);
        right: rem(100);
        transition: all 1.1s ease-in-out;
      }
      .element2 {
        position: absolute;
        width: rem(59);
        height: rem(59);
        top: rem(350);
        right: rem(310);
        transition: all 1.1s ease-in-out;
      }
      .element4 {
        position: absolute;
        width: rem(300);
        height: rem(226);
        top: rem(120);
        right: rem(150);
        transition: all 1.1s ease-in-out;
      }
      .element1 {
        position: absolute;
        width: rem(92);
        height: rem(92);
        top: rem(210);
        right: rem(410);
        transition: all 0.8s ease-in-out;
      }
    }
  }
}

@media (max-width: 600px) {
  .box {
    padding: rem(50) 0 0;
    overflow: initial;
    height: rem(735);
    background-image: url('/images/products/dexpo-nft/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    .container {
      position: initial;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .banner {
        overflow: initial;
        position: initial;
        padding: 0 rem(22);
        .bannerBg {
          display: none;
        }
        .content {
          width: 100%;
          min-height: auto;
          .title {
            margin-bottom: rem(10);
          }
          br {
            display: none;
          }
          button {
            margin-top: rem(15);
          }
        }
      }
      .elements {
        position: relative;
        width: rem(350);
        top: auto;
        right: auto;
        margin-top: rem(31);
        height: rem(340);
        .element4 {
          width: rem(196);
          height: rem(130);
          left: calc(50% - rem(98));
          top: rem(130);
        }
        .element {
          right: rem(15);
          width: rem(105);
          height: rem(105);
          position: absolute;
        }
        .element3 {
          width: rem(56);
          height: rem(56);
          bottom: rem(50);
          right: rem(50);
          top: auto;
        }
        .element1 {
          left: rem(35);
          width: rem(53);
          height: rem(53);
          top: rem(200);
        }
        .element2 {
          width: rem(35);
          height: rem(35);
          bottom: rem(10);
          left: rem(100);
          top: auto;
        }
      }
    }
  }
}
