.YearsSelector {
  align-items: center;
  display: flex;

  & .Years {
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 30px;
    }

    & .Year {
      align-items: center;
      display: flex;

      & .YearButton {
        color: var(--conun-blue);
        font-size: calc(13px + 0.4vw);
        margin-right: 1.5rem;

        &.isSelected {
          font-weight: bold;
        }
      }

      & .Line {
        border-top: 1px solid var(--conun-blue);
        width: 325px;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    & .Years {
      flex-direction: row;
      & .Year {
        margin-bottom: 20px;

        & .YearButton {
          margin-right: 10px;
        }

        & .Line {
          display: none;
        }
      }
    }
  }
}
