.Navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: calc(60px - 2rem);
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 1;
  &.isMobile {
    padding: 1rem;
  }

  & .MenuButton {
    & .MenuIcon {
      fill: var(--conun-blue);
      width: 24px;
    }
  }

  & .ConunLogo {
    cursor: pointer;
    width: 70px;
  }

  & .Pages {
    align-items: center;
    color: var(--conun-blue);
    display: flex;

    & > :not(:last-child) {
      margin-right: 30px;
    }

    & .Page {
      &:hover {
        filter: opacity(75%);
      }
    }

    & .ProductsButton {
      border: solid 1px var(--conun-blue);
      border-radius: 4px;
      padding: 5px 15px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: var(--conun-blue);
        color: #fff;
      }
    }
  }
}
