@import 'styles/unit.scss';
.box {
  padding: rem(90) 0 rem(67);
  display: flex;
  align-items: center;
  flex-direction: column;
  .desc {
    margin: rem(20) 0 rem(30);
  }
  .btn {
    background: linear-gradient(94.06deg, #4f2dfe 5.14%, #45e3af 105.19%);
  }
  .elements {
    position: relative;
    width: rem(564);
    height: rem(308);
    margin-top: rem(68);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .item1 {
      position: absolute;
      top: rem(62);
      width: rem(102);
      height: rem(102);
      left: rem(231);
    }
    .item2 {
      position: absolute;
      bottom: rem(60);
      left: rem(-200);
      width: rem(270);
      height: rem(143);
    }
    .item3 {
      position: absolute;
      bottom: rem(-40);
      right: rem(-100);
      width: rem(149);
      height: rem(81);
      z-index: 0;
    }
    .item4 {
      position: absolute;
      top: rem(-40);
      right: 0;
      width: rem(80);
      height: rem(80);
    }
    .item5 {
      position: absolute;
      top: 0;
      left: 0;
      width: rem(92);
      height: rem(64);
    }
    .item6 {
      position: absolute;
      top: rem(160);
      right: rem(-40);
      width: rem(74);
      height: rem(59);
    }
  }
}
