.Sidebar {
  background-color: #fff;
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  overflow-y: hidden;
  padding: 1rem;
  position: absolute;
  width: calc(100vw - 2rem);
  z-index: var(--sidebar-index);

  & .Header {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;

    & .MenuButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: fit-content;

      & .MenuIcon {
        fill: var(--conun-blue);
        width: 24px;
      }
    }

    & .ConunLogoContainer {
      margin: 0 auto;
      & .ConunLogo {
        fill: var(--conun-blue);
        height: 25px;
      }
    }
  }

  & .ItemsContainer {
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
