.AboutConun {
  background-image: url("../../../../public/assets/midpage_land_asset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: var(--conun-blue);
  width: 100%;
}

.WhitePaper {
  display: flex;
  width: 90%;

  & .WhitePaperText {
    color: var(--conun-blue);
    width: 90%;
    & .Title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    & .Description {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 30px;
    }

    & .LearnMore {
      color: red;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  & .WhitePaperImage {
    width: 20%;
    &.Icon {
      width: 90%;
    }
  }
}

.GetStarted {
  background-image: url("../../../../public/assets/mtns.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  color: var(--conun-blue);
  margin-bottom: 50px;
  width: 100%;
  & .GetStartedContainer {
    width: 90%;

    & .GetStartedText {
      & .Title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      & .Description {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 30px;
      }
    }
    & .GetStartedCards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 130px;
    }
    & .AboutBottomIcon {
      margin-left: 50px;
      width: 40%;
    }
  }
}

.Roadmap {
  color: var(--conun-blue);
  width: 90%;

  & .RoadmapTitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  & .RoadmapDescription {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .AboutConun,
  .Roadmap,
  .GetStarted {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }
  .GetStarted {
    & .GetStartedCards {
      align-items: center;
      flex-direction: column;
    }
    & .AboutBottomIcon {
      width: 300px;
    }
  }
  .WhitePaper {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    & .whitepapertext {
      width: 100%;
    }
    & .WhitePaperImage {
      width: 80%;
    }
  }
}
