.LandingPage {
  background-image: url("../../../../public/assets/bg-1.png");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 200px;

  & .LeftSide {
    align-self: flex-start;
    padding-left: 20px;
    width: 70%;

    & .Title {
      color: #76f1bd;
      font-family: "Teko", sans-serif;
      font-size: calc(35px + 1.8vw);
      font-weight: 600;
    }

    & .Subtitle {
      color: #e9ebef;
      font-style: italic;
    }

    & .ShortDescription {
      color: #fff;
      font-size: calc(13px + 0.5vw);
      font-style: italic;
      font-weight: 400;
      margin-bottom: 30px;
    }
    & .ConunDescription {
      color: #fff;
      font-size: calc(16px + 0.5vw);
      line-height: 150%;
    }
  }

  & .RightSide {
    display: flex;
    height: fit-content;
    margin-top: 75px;
    padding-right: 20px;
    width: 30%;

    & .Sections {
      align-self: flex-end;
      display: grid;
      font-size: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px 50px 50px 50px;
      margin-bottom: 50px;
    }

    & .VerticalText {
      color: #fff;
      font-size: 24px;
      letter-spacing: 0.625em;
      opacity: 0.5;
      text-orientation: sideways;
      text-transform: uppercase;
      transform: translateY(-100px);
      writing-mode: vertical-rl;
    }
  }

  @media only screen and (max-width: 800px) {
    padding: 0 15px;

    & .LeftSide {
      align-self: flex-start;
      height: 100vh;
      margin-top: 60%;
      width: 90%;
      & .Title {
        text-align: center;
      }

      & .Subtitle {
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
      }

      & .ConunDescription {
        margin-top: 30px;
        text-align: center;
        width: auto;
      }
    }
  }
}
