.LandingPage {
  background-image: url("../../../../public/assets/bg-1.png");
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 70px);
  padding: 0 200px;

  & .LeftSide {
    align-self: center;

    & .Title {
      color: #76f1bd;
      font-family: "Teko", sans-serif;
      font-size: calc(30px + 2vw);
      font-weight: 600;
    }
    & .ShortDescription {
      color: #fff;
      font-size: calc(13px + 0.5vw);
      margin-bottom: 30px;
    }
    & .ConunDescription {
      color: #fff;
      font-size: calc(16px + 0.5vw);
      line-height: 150%;
      width: 737px;
    }
  }

  & .RightSide {
    display: flex;
    height: fit-content;
    margin-top: 75px;
    & .Sections {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin-right: 75px;

      & > :not(:last-child) {
        margin-bottom: 40px;
      }

      & .Section {
        color: #fff;
        font-size: 16px;
      }
    }

    & .VerticalText {
      color: #fff;
      font-size: 24px;
      letter-spacing: 0.5rem;
      text-orientation: sideways;
      text-transform: uppercase;
      writing-mode: vertical-rl;
    }
  }

  @media only screen and (max-width: 800px) {
    padding: 0 15px;

    & .LeftSide {
      align-self: flex-start;
      margin-top: 50%;

      & .Title {
        margin-bottom: 40px;
        text-align: center;
      }

      & .ConunDescription {
        text-align: justify;
        width: auto;
      }
    }
  }
}
