.Announcements {
  background-image: url("../../../../public/assets/announcements-bg.png");
  background-position: -30px 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 1290px;
  justify-content: center;
  padding: 0 var(--website-padding);

  & .PageTitle {
    font-size: 30px;
    margin-bottom: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
  }

  & .PageSubtitle {
    font-size: 20px;
    margin-bottom: 120px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  & .AnnouncementsContainer {
    display: flex;
    gap: 95px;
    justify-content: space-evenly;

    & .Announcement {
      background: #fff;
      border: 2px solid var(--conun-blue);
      display: flex;
      flex-direction: column;
      height: 570px;
      justify-content: space-between;
      padding: 15px 20px;
      width: calc(430px - 40px);

      & .Date {
        color: #15827b;
        font-size: 18px;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
      }

      & .Title {
        color: var(--conun-blue);
        font-size: 22px;
        font-weight: 600;
        text-align: center;
      }

      & .Subtitle {
        color: var(--conun-blue);
        font-weight: 400;
        text-align: center;
      }

      & .Link {
        & > div {
          width: 100%;
        }
        & .Image {
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    height: auto;
    padding: 0 2rem;
    width: calc(100vw - 4rem);

    & .PageTitle {
      margin-top: 15rem;
    }

    & .AnnouncementsContainer {
      flex-direction: column;
      gap: 50px;

      & .Announcement {
        width: auto;
      }
    }
  }
}
