@import 'styles/unit.scss';
.container {
  background: #ffffff;
  .box {
    padding: 0 0 rem(67);
    display: flex;
    align-items: center;
    flex-direction: column;

    .imageColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;

      @media (max-width: 600px) {
        margin-top: -60px;

        img {
          width: 361px;
          height: 150px;
        }
      }
    }

    .rowContainer {
      display: flex;
      flex-direction: row;
      gap: 70px;
      margin-bottom: 110px;

      @media (max-width: 600px) {
        margin-top: 75px;
        flex-direction: column;
        max-width: 281px;
        gap: 40px;
        margin-bottom: 95px;
      }

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .itemTitle {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #232323;
          padding-top: 25px;
        }

        .itemParagraph {
          font-weight: 500;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: #484848;
          padding-top: 8px;
        }
      }
    }

    .flexContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1029px;
      gap: 10px;
      margin: 0 auto;

      @media (max-width: 600px) {
        max-width: 340px;
      }

      .imageItemFlex {
        @media (max-width: 600px) {
          width: 159px;
          height: 213px;
        }
      }
      .imageItemFlex2 {
        @media (max-width: 600px) {
          width: 333px;
        }
      }

      .goldenRoundTitle {
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 70px;
        text-align: center;
        color: #232323;
        margin-top: 35px;

        @media (max-width: 600px) {
          font-weight: 700;
          font-size: 28px;
          line-height: 42px;
        }
      }

      .goldenRoundParagraph {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #484848;
        margin-bottom: 31px;

        @media (max-width: 600px) {
          margin-bottom: 45px;
        }
      }

      .sampleNumbersTitle {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #232323;
        margin-bottom: 14px;
      }
    }

    .gridContainer {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 735px;
      max-width: 735px;
      margin: 0 auto;
      margin-top: 20px;

      @media (max-width: 600px) {
        gap: 30px;
        max-width: 340px;
        margin-top: 25px;
      }

      .gridItem {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 600px) {
          flex-direction: column;
          gap: 15px;
        }

        .itemPair {
          display: flex;
          gap: 11px;
          align-items: flex-start;
        }

        .gridItemParagraph {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 25px;
          color: #232323;
        }
      }
    }

    .conclusion {
      max-width: 920px;
      margin-top: 80px;

      @media (max-width: 600px) {
        max-width: 318px;
      }

      .conclusionParagraph {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;

        .concluisonRed {
          color: #ff003a;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    overflow: hidden;
    .box {
      padding: rem(65) 0 rem(116);

      .title {
        line-height: rem(35);
        br {
          display: none;
        }
      }
      .desc {
        margin: rem(10) 0 rem(15);
        br {
          display: none;
        }
      }
    }
  }
}
