@import 'styles/unit.scss';
.box {
  overflow: hidden;
  .container {
    position: relative;
    .banner {
      padding: rem(100) 0 rem(113);
      position: relative;
      overflow: hidden;
      .content {
        width: rem(700);
        position: relative;
        z-index: 9;
        min-height: rem(413);
        .title {
          margin-bottom: rem(25);
          span {
            font-family: 'Poppins' !important;
            color: #09c9c9;
          }
        }
        button {
          margin-top: rem(25);
        }
      }

      .bannerBg {
        background-image: url('/images/products/ocean-drive/banner-bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 70%;
        position: absolute;
        right: 0;
        height: 100%;
        top: rem(-150);
      }
    }

    .elements {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: rem(80);
      right: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .element {
        width: rem(1070);
        height: rem(533);
        transition: all 1.1s ease-in-out;
      }
      .element3 {
        position: absolute;
        width: rem(329);
        height: rem(285);
        top: rem(100);
        right: rem(40);
        transition: all 0.8s ease-in-out;
      }
      .element2 {
        position: absolute;
        width: rem(300);
        height: rem(230);
        top: rem(100);
        right: rem(260);
        transition: all 1.1s ease-in-out;
      }
      .element4 {
        position: absolute;
        width: rem(52);
        height: rem(52);
        top: rem(180);
        right: rem(400);
        transition: all 1.1s ease-in-out;
      }
      .element6 {
        position: absolute;
        width: rem(100);
        height: rem(70);
        bottom: rem(250);
        right: rem(-40);
        transition: all 1.1s ease-in-out;
      }
      .element1 {
        position: absolute;
        width: rem(40);
        height: rem(40);
        bottom: rem(220);
        right: rem(-60);
        transition: all 1.1s ease-in-out;
      }
      .element5 {
        position: absolute;
        width: rem(70);
        height: rem(55);
        bottom: rem(170);
        right: rem(350);
        transition: all 1.1s ease-in-out;
      }
    }
  }
}

@media (max-width: 600px) {
  .box {
    padding: rem(50) 0 0;
    background-image: url('/images/products/ocean-drive/banner-bg.jpg');
    background-repeat: no-repeat;
    top: rem(100);
    width: 100%;
    height: rem(600);
    background-size: 100% rem(600);
    background-position: bottom;
    height: rem(735);
    overflow: hidden;
    .container {
      position: initial;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .banner {
        overflow: initial;
        position: initial;
        padding: 0 rem(22);
        .bannerBg {
          display: none;
        }
        .content {
          width: 100%;
          min-height: auto;
          .title {
            margin-bottom: rem(10);
          }
          br {
            display: none;
          }
          button {
            margin-top: rem(15);
          }
        }
      }
      .elements {
        position: relative;
        width: rem(400);
        top: auto;
        right: auto;
        margin-top: rem(31);
        height: rem(340);
        .element {
          right: 0;
          width: rem(400);
          height: rem(219);
          position: absolute;
        }
        .element3 {
          width: rem(125);
          height: rem(101);
          top: rem(50);
          right: rem(130);
        }
        .element2 {
          width: rem(136);
          height: rem(118);
          top: rem(50);
          right: rem(130);
        }
        .element1 {
          right: rem(50);
          width: rem(16);
          height: rem(16);
          bottom: rem(190);
        }
        .element6 {
          width: rem(50);
          height: rem(31);
          top: rem(110);
          right: rem(60);
        }
        .element5 {
          left: rem(120);
          top: rem(150);
          width: rem(30);
          height: rem(22);
        }
        .element4 {
          width: rem(21);
          height: rem(21);
          left: rem(100);
          top: rem(80);
        }
      }
    }
  }
}
