.Footer {
  background-image: url("../../../../public/assets/footer.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: flex-end;
  padding: 60px 100px;

  & .Info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;

    & .ConunLogo {
      fill: #fff;
      height: 60px;
      width: 250px;
    }

    & .Links {
      display: grid;
      gap: 30px 100px;
      grid-template-columns: 1fr 1fr;

      & .Link {
        color: var(--neon-green);
        font-size: 18px;
      }
    }

    & .Socials {
      display: flex;
      height: fit-content;

      & > :not(:last-child) {
        margin-right: 20px;
      }

      & .Social {
        & .SocialIcon {
          width: 38px;
        }
      }
    }
  }

  & .Copyright {
    align-self: center;
    color: var(--neon-green);
    display: flex;
    flex-direction: column;
    height: fit-content;

    & .Year {
      font-size: calc(12px + 0.6vw);
      text-align: center;
    }

    & .Motto {
      font-size: calc(10px + 0.3vw);
      font-style: italic;
      font-weight: 300;
    }
  }

  @media only screen and (max-width: 800px) {
    height: 400px;
    padding: 40px;

    & .Info {
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 0;

      & .ConunLogo {
        height: 30px;
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 125px;
      }

      & .Links {
        display: grid;
        grid-auto-rows: 40px;
        grid-gap: 0;
        grid-template-columns: repeat(12, 1fr);
        & > :nth-child(-1n + 3) {
          grid-column: span 4;
        }
        & > :nth-last-child(2) {
          grid-column: 3 / span 5;
          grid-row-start: 2;
        }
        & > :nth-last-child(1) {
          grid-column: 8 / span 4;
          grid-row-start: 2;
        }

        & .Link {
          font-size: 12px;
          text-align: center;
        }
      }

      & .Socials {
        justify-content: center;
        margin-bottom: 1rem;

        & .Social {
          & .SocialIcon {
            width: 25px;
          }
        }
      }
    }
  }
}
