.YearDisplay {
  align-items: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: var(--conun-blue-shadow);
  display: flex;
  flex-direction: column;
  height: 470px;
  justify-content: space-between;
  padding: 50px 0;
  width: 933px;

  & .EventsContainer {
    display: grid;
    grid-template-columns: repeat(3, 311px);

    & > :not(:nth-child(3n)) {
      border-right: solid 0.5px rgba(178, 178, 178, 0.5);
    }
    & .Event {
      padding: 25px 35px;
      & .Month {
        color: var(--conun-blue);
        font-size: 14px;
        opacity: 0.9;
        text-transform: uppercase;
      }

      & .Title {
        font-size: 18px;
        letter-spacing: -0.02rem;
        line-height: 21px;
        margin-bottom: 5px;
        text-transform: capitalize;
      }

      & .Subtitle {
        color: #5e5d5d;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    height: auto;
    padding: 15px;
    width: calc(85vw - 15px);

    & .EventsContainer {
      display: flex;
      flex-direction: column;
      gap: 0;

      & .Event {
        border-right: none;
        padding: 15px;
      }
    }
  }
}
