.YearDisplay {
  background: #fff;
  border-radius: 15px;
  box-shadow: var(--conun-blue-shadow);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  padding: 50px;
  width: 935px;

  & .Event {
    & .Month {
      color: var(--conun-blue);
      text-transform: uppercase;
    }

    & .Title {
      margin-bottom: 5px;
    }

    & .Subtitle {
      color: #5e5d5d;
    }
  }

  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: auto;
    padding: 15px;
    width: 85vw;

    & .Event {
      margin-bottom: 1rem;
    }
  }
}
